<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.CommodityMapper">
    <!-- 查询模块 -->
    <select id="selectCarousel" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity ORDER BY RAND() LIMIT #{carouselSize};
    </select>

    <select id="selectRecommend" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity ORDER BY RAND() LIMIT #{recommendSize};
    </select>

    <select id="selectArea" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity ORDER BY RAND() LIMIT #{areaSize};
    </select>

    <select id="selectLike" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity ORDER BY RAND() LIMIT #{likeSize};
    </select>

    <select id="selectKeyword" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity WHERE
        <if test="#{key} != null and #{key} != ''">
            commodity_name LIKE "%"#{key}"%";
        </if>
    </select>

    <select id="selectNameOfCommodity" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
        price, evaluate, commodity_type, merchant_id
        FROM commodity WHERE commodity_name = #{commodityName};
    </select>


    <!-- 插入模块 -->
    <insert id="insertGoods">
        INSERT commodity SET commodity_id = #{commodityId},
            commodity_name = #{commodityName}, description = #{description},
            detail = #{detail}, price = #{price}, evaluate = #{evaluate},
            commodity_type = #{commodityType}, merchant_id = #{merchantId};
    </insert>
</mapper>
