<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.GoodsTypeMapper">

    <select id="selectAllIcon" resultType="com.taotao.entity.GoodsType">
        SELECT type, url FROM goods_type WHERE is_deleted = 0 LIMIT #{iconSize};
    </select>
    <select id="selectClassifyGoods" resultType="com.taotao.entity.Commodity">
        SELECT commodity_id, commodity_name, image, description, detail,
               price, evaluate, commodity_type, merchant_id
        FROM commodity WHERE commodity_type = #{type} AND is_deleted = 0
        LIMIT #{classifyGoodsSize};
    </select>
</mapper>
