<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.MerchantMapper">

    <select id="selectHotRank" resultType="com.taotao.entity.Merchant">
        select user_id, fansCount
        from merchant
        WHERE is_deleted = 0
        order by fansCount desc limit #{hotRankSize};
    </select>

</mapper>
