<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.MerchantMapper">
    <!-- 查询模块 -->
    <select id="selectHotRank" resultType="com.taotao.entity.Merchant">
        SELECT merchant_id, user_id, fans_count
        FROM merchant
        WHERE status = 1 AND is_deleted = 0
        ORDER BY fans_count DESC LIMIT #{hotRankSize};
    </select>
    <select id="selectMerchantOfAdmin" resultType="com.taotao.entity.Merchant">
        SELECT merchant_id, user_id, store_name, fans_count FROM merchant
            <where>
                store_name LIKE "%"#{key}"%" AND is_deleted = 0;
            </where>
    </select>
    <select id="selectMerchantId" resultType="java.lang.Long">
        SELECT merchant_id FROM merchant WHERE user_id = #{userId};
    </select>

    <!-- 更新模块 -->
    <update id="updateMerchantStatus">
        UPDATE merchant
        <set>
            status = #{status}
        </set>
        WHERE merchant_id = #{merchantId} AND status != #{status} AND is_deleted = 0;
    </update>
</mapper>
