<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.ShoppingTrolleyMapper">
    <!-- 更新模块 -->
    <update id="updateTrolley">
        UPDATE shopping_trolley
        <set>
            <if test="goods != null and goods != ''">
                goods = #{goods},
            </if>
            <if test="amount != null and amount != ''">
                amount = #{amount},
            </if>
            <if test="totalPrice != null and totalPrice != ''">
                total_price = #{totalPrice}
            </if>
        </set>
        WHERE user_id = #{userId} AND is_deleted = 0;
    </update>

    <!-- 查询模块 -->
    <select id="selectTrolley" resultType="com.taotao.entity.ShoppingTrolley">
        SELECT goods, amount, total_price FROM shopping_trolley WHERE user_id = #{id} AND is_deleted = 0;
    </select>

</mapper>
