<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.taotao.entity.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="password" column="password" jdbcType="CHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="birthday" column="birthday" jdbcType="DATETIMEOFFSET"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="attention" column="attention" jdbcType="VARCHAR"/>
            <result property="cardId" column="card_id" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="icon" column="profile_photo" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="DATETIMEOFFSET"/>
            <result property="updateTime" column="update_time" jdbcType="DATETIMEOFFSET"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectHotRankOfUserInfo" resultType="com.taotao.entity.User">

    </select>
    <select id="selectHotRandOfUserInfo" resultType="com.taotao.entity.User">
        select * from user where user_id = #{id}
    </select>

</mapper>
