<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.UserMapper">

    <!-- 查询模块 -->
    <select id="selectSingleHotRandOfUserInfo" resultType="com.taotao.entity.User">
        SELECT * FROM user WHERE user_id = #{id} AND is_deleted = 0;
    </select>

    <select id="selectListHotRandOfUserInfo" resultType="com.taotao.entity.User">
        SELECT * FROM user
        WHERE user_id in
                 <foreach collection="list" item="item"
                          index="index" open="(" separator="," close=")">
                     #{item}
                 </foreach>
    </select>

    <select id="selectPhoneOfUser" resultType="java.lang.String">
        SELECT phone FROM user
        WHERE phone = #{phone} AND is_deleted = 0;
    </select>

    <select id="selectPasswordOfDatabase" resultType="java.lang.String">
        SELECT password FROM user
        WHERE user_id = #{userId} AND is_deleted = 0;
    </select>


    <!-- 更新模块 -->
    <update id="updateUserInfo">
        UPDATE user
            <set>
                <if test="phone != null and phone != ''">
                    phone = #{phone},
                </if>
                <if test="password != null and password != ''">
                    password = #{password},
                </if>
                <if test="address != null and address != ''">
                    address = #{address},
                </if>
                <if test="birthday != null">
                    birthday = #{birthday},
                </if>
                <if test="nickName != null and nickName != ''">
                    nick_name = #{nickName},
                </if>
                <if test="icon != null and icon != ''">
                    icon = #{icon}
                </if>
            </set>
        WHERE user_id = #{userId} AND is_deleted = 0;
    </update>

    <update id="updateUserRealName">
        UPDATE user
            <set>
                <if test="cardId != null and cardId != ''">
                    card_id = #{cardId},
                </if>
                <if test="realName != null and realName != ''">
                    real_name = #{realName},
                </if>
                is_real = 1
            </set>
        WHERE user_id = #{userId} AND is_real = 0 AND is_deleted = 0;
    </update>

    <update id="updateUserStatus">
        UPDATE user
        <set>
            status = #{status}
        </set>
        WHERE user_id = #{userId} AND status != #{status} AND is_deleted = 0;
    </update>
</mapper>
