<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.mapper.UserMapper">

    <select id="selectHotRankOfUserInfo" resultType="com.taotao.entity.User">

    </select>
    <select id="selectSingleHotRandOfUserInfo" resultType="com.taotao.entity.User">
        select * from user where user_id = #{id}
    </select>

    <select id="selectListHotRandOfUserInfo" resultType="com.taotao.entity.User">
        select * from user
                 where user_id in
                 <foreach collection="list" item="item"
                          index="index" open="(" separator="," close=")">
                     #{item}
                 </foreach>
    </select>

</mapper>
